.rodapie__titulo{
    display: flex;
    color: #8c8888;
    font-size: 1.25rem;
    font-weight: 400;
    align-items: center;
   
}

@media screen and (min-width: 0) {
    .rodapie__titulo {
        padding: .5625rem;
    }
}

@media screen and (min-width: 768px) {
    .receta__titulo {
        padding: 1.5625rem;
    }
}