.rodapie__descripcion{
    display: flex;
    color: #8c8888;
}

@media screen and (min-width: 0) {
    .rodapie__descripcion {
        font-size: 1.5rem;
        padding: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .rodapie__descripcion {
        font-size: 2rem;
        padding-top: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}